<div id="root"
     style="position: fixed; top: 150px; left: 50%; transform: translateX(-50%); z-index: 1000;"
     data-json='{{ data_json }}'>
</div>
<script src="{{ asset('/modules/bwlauncher/views/js/launcher.js') }}" defer></script>